/* ==========================================================================
   Media Queries

   - Not-small
   - Medium
   - Large
   ========================================================================== */


/* Not-small (anything bigger than your first breakpoint)
   ========================================================================== */

@include break(not-small) {


/* Media object
  ========================================================================== */

/* Specific styles
  ========================================================================== */

.avtr {
  width: 15rem;
}

.resp-img {
  width: auto;
}

.blurb {
  width: 30.33rem;
}

.wi-20 {
  width: 30.33rem;
}


/* Styles
  ========================================================================== */

.btn {
  width: 14.25rem;
  &:nth-of-type(2) {
    margin-left: 1.5rem;
  }
}

.contact {
  text-align: center;
}


}

/* Medium - only targets 1st breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(medium) {
  .phorizsm {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Large - only targets 2nd breakpoint. Styles do not extend below 64em.
   ========================================================================== */

@include break(large) {

  /* Specific styles
    ========================================================================== */

  
  /* Avatar Media Object
   ========================================================================== */

   .about {
    height: 300px;
   }

   .av-wrpr {
     display: inline-block;
     margin-left: 35px;
   }

   .avtr {
    display: inline-block;
   }

   .ab-blurb {
    display: inline-block;
    width: 42%;
    margin: 50px 35px;
   }

   .about .media-av {
     height: auto;
     width: 66%;
     min-width: 52rem;
     margin: 30px auto 0;
   }

  /* Work Media Object
    ========================================================================== */

  .mo-wrap {
    width: 66%;
    min-width: 52rem;
    margin: 0 auto;
  }

  .media {
    height: 330px;
  }

  .proj-ti {
    margin: 0;
    display: inline-block;
    width: auto;
    &:not(:first-of-type) {
      padding-top: 1.5rem;
    }
  }

  .wk-img {
    position: relative;
    width: 45%;
    height: 330px;
    float: left;
  }
  
  .resp-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .wk-blurb {
    width: 45%;
    padding-top: 0;
  }

  .blurb-mmnt {
    margin: 25px auto;
    .btn {
      margin-left: 101px;
    }
  }

  .blurb-gro {
    margin: 25px auto;
  }

  .blurb-loc {
    margin: 60px auto;
  }

  .blurb-tai {
    margin: 25px auto;
  }

  .btn-links {
    width: 100%;
  }

  .btn {
    width: 46%;
  }

  /* ========================================================================== */
  /* Styles
    ========================================================================== */

  /* Spacing
    ========================================================================== */

  .phorizsm {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .pbme {
    padding-bottom: 2rem;
  }

  .ptsm {
    padding-top: 1.5rem;
  }

  .plsm {
    padding-left: 1.5rem;
  }

}

