/* ==========================================================================
   Site styles
   ========================================================================== */

/* Elements
 ========================================================================== */
ul {  list-style-type: none; }

a  { text-decoration: none;
     color: inherit;
     transition: 0.6s ease-in-out; 
   }

/* Positioning/Alignment
  ========================================================================== */
.bl { display: block; }

.inlb { display: inline-block; }

.inl { display: inline; }

.alrt { text-align: right;}

.allt { text-align: left;}

.alc { text-align: center;}

.alju { text-align: justify;}

.mauto { margin: 0 auto; } 


/* Floats
  ========================================================================== */
.fr { float: right; }

.fl { float: left; }

.fn { float: none; }

/* Dimensions
  ========================================================================== */


.two3rds {
  width: 66.66%;
}

  // @mixin breakpoint($point) {
  //   @if $point == papa-bear {
  //     @media (max-width: 1600px) { @content; }
  //   }
  //   @else if $point == mama-bear {
  //     @media (max-width: 1250px) { @content; }
  //   }
  //   @else if $point == baby-bear {
  //     @media (max-width: 650px)  { @content; }
  //   }
  // }


/* Spacing
  ========================================================================== */


/* Top */
.ptsm { padding-top: 1rem; }
.ptmini { padding-top: 0.5rem; }

.mtsm { margin-top: 1rem; }


/* Bottom */
.pbme { padding-bottom: 1.5rem; }
.pbsm { padding-bottom: 1rem; }
.pbmini { padding-bottom: 0.5rem; }

.mbme { margin-bottom: 2rem; }

/* Left */
.plsm { padding-left: 1rem; }
.plme { padding-left: 2rem; }

.mlsm { margin-left: 1rem; }
.mlmini { margin-left: 0.5rem; }

/* Left */
.prsm { padding-right: 1rem; }
.prme { padding-right: 2rem; }


/* Top and Bottom */
.phorizsm { 
          padding-left: 1rem; 
          padding-right: 1rem; 
        }

.pvertmini { padding-top: 0.25rem; 
          padding-bottom: 0.25rem;  
        }

.pvertsm { padding-top: 1rem; 
          padding-bottom: 1rem;  
        }

/* Left and Right */
.phorizme { padding-left: 3rem; 
          padding-right: 3rem; 
        }

.pvertme { padding-top: 3rem; 
          padding-bottom: 3rem;  
        }

/* Nothing whatsoever */
.no-marg { margin: 0; }
.no-p { padding: 0; }


/* Color
  ========================================================================== */



/* Transitions
  ========================================================================== */

.med-tr {
  transition: 0.5 ease all;
}

/* Images
  ========================================================================== */

.rnd { 
  border-radius: 50%; 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.smimg {
  width: 13em;
  height: auto;
}

.resp-img {
  width: 95%;
}


/* Buttons
  ========================================================================== */

.btn-links {
}

.btn {
  width: 8.75rem;
  float: left;
  background:  $sky-blue;
  color: $white;
  text-decoration: none;
  // &:hover {
  //   opacity: 0.8;
  // }
}

/* Borders
  ========================================================================== */
.brd-btm {
  border-bottom: solid 1px $gray-light;
}

.brd-top {
  border-top: solid 1px $gray-light;
}

/* Overflow
  ========================================================================== */

.hid {
  overflow: hidden;
}



/* Custom styles
 ========================================================================== */

 .container {
  padding-top: 0.25rem;
 }

 .fa {
  color: $near-black;
 }