/* ==========================================================================
   Site styles
   ========================================================================== */

/* Elements
 ========================================================================== */
ul {  list-style-type: none; }

a {color: inherit; }

a, .ho-link  { text-decoration: none;
     transition: all 0.6s ease-in-out; 
     -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
     &:hover {
      color: $sky-blue;
     }
}

.ho-link-gr:hover {
  color: $gray-medium;
}

/* Positioning/Alignment
  ========================================================================== */
.bl { display: block; }

.inlb { display: inline-block; }

.inl { display: inline; }

.alrt { text-align: right;}

.allt { text-align: left;}

.alc { text-align: center;}

.alju { text-align: justify;}

.mauto { margin: 0 auto; } 


/* Floats
  ========================================================================== */
.fr { float: right; }

.fl { float: left; }

.fn { float: none; }

/* Dimensions
  ========================================================================== */

.three4ths {
  width: 75%;
}

.wi-20 {
  width: 18rem;
}
  // @mixin breakpoint($point) {
  //   @if $point == papa-bear {
  //     @media (max-width: 1600px) { @content; }
  //   }
  //   @else if $point == mama-bear {
  //     @media (max-width: 1250px) { @content; }
  //   }
  //   @else if $point == baby-bear {
  //     @media (max-width: 650px)  { @content; }
  //   }
  // }


/* Spacing
  ========================================================================== */


/* Top */
.ptsm { padding-top: 1rem; }
.ptmini { padding-top: 0.5rem; }

.mtsm { margin-top: 1rem; }
.mbsm { margin-bottom: 1rem; }

/* Bottom */
.pbme { padding-bottom: 1.5rem; }
.pbsm { padding-bottom: 1rem; }
.pbmini { padding-bottom: 0.5rem; }

.mbme { margin-bottom: 1.5rem; }

/* Left */
.plmini { padding-left: 0.5rem; }
.plsm { padding-left: 1rem; }
.plme { padding-left: 2rem; }

.mlsm { margin-left: 1rem; }
.mlmini { margin-left: 0.5rem; }

/* Right */
.prmini { padding-right: 0.5rem; }
.prsm { padding-right: 1rem; }
.prme { padding-right: 2rem; }


/* Top and Bottom */
.phorizsm { 
          padding-left: 1rem; 
          padding-right: 1rem; 
        }

.pvertmini { padding-top: 0.25rem; 
          padding-bottom: 0.25rem;  
        }

.pvertsm { padding-top: 1rem; 
          padding-bottom: 1rem;  
        }

.mvertsm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Left and Right */
.phorizme { padding-left: 3rem; 
          padding-right: 3rem; 
        }

.pvertme { padding-top: 3rem; 
          padding-bottom: 3rem;  
        }


/* Nothing whatsoever */
.no-marg { margin: 0; }
.no-mb {margin-bottom:0;}
.no-mt {margin-top:0;}
.no-p { padding: 0; }


/* Color
  ========================================================================== */



/* Transitions
  ========================================================================== */
.qk-tr {
  transition: all 0.4s ease-in-out; 
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.med-tr {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

.opacity:hover {
  opacity: 0.8;
  transition: opacity 0.6s ease-in-out; 
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
}

/* Images
  ========================================================================== */

.rnd { 
  border-radius: 50%; 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.smimg {
  width: 13em;
  height: auto;
}

.avtr {
  width: 12rem;
}

.resp-img {
  width: 17.25rem;
}

.resp-loc {
  width: 12rem;
}


/* Buttons
  ========================================================================== */

.btn-links {
}

.btn {
  width: 8.25rem;
  float: left;
  background:  $sky-blue;
  color: $white;
  text-decoration: none;
  padding: 0.45rem 0;
  transition: 0.4s ease-in-out all;
  -webkit-transition: 0.4s ease-in-out all;
  -moz-transition: 0.4s ease-in-out all;
  &:hover {
    background: $gray-light;
  }
  &:nth-of-type(2) {
    margin-left: 0.5rem;
  }
}

/* Borders
  ========================================================================== */
.brd-btm {
  border-bottom: solid 1px $gray-light;
}

.brd-top {
  border-top: solid 1px $gray-light;
}

/* Overflow
  ========================================================================== */

.hid {
  overflow: hidden;
}


/* Custom styles
 ========================================================================== */

 .container {
  padding-top: 0.25rem;
 }

 .fa { color: $near-black; }

 .blurb {
  width: 17rem;
 }

 .icons {
  width: 34px;
  height: 34px;
  background: url("../public/icon_sprite.png") no-repeat;
  transition: none;
 }

 .icons-res {
  width: 34px;
  height: 34px;
  background: url("../public/res_sprite.png") no-repeat;
  transition: none;
 }

 .ic-email {
  background-position: 0 -82px;
  &:hover {
    background-position: 0 0;
  }
 }

 .ic-git {
  background-position: 0 -246px;
  &:hover {
    background-position: 0 -164px;
  }
 }

 .ic-link {
  background-position: 0 -410px;
  &:hover {
    background-position: 0 -328px;
  }
 }

  .ic-twit {
    background-position: 0 -574px;
    &:hover {
      background-position: 0 -492px;
    }
  } 

  .ic-res {
    background-position: 0 0px;
    &:hover {
      background-position: 0 -82px;
    }
  }
