/* ==========================================================================
   TYPE
   - Copy
   - Headings
   ========================================================================== */

/* Copy
   ========================================================================== */

.sub-title {   font-size: $font-size-18; }

p {           
  font-size: $font-size-5;
  color: $near-black;  
 }

.dkgray, .dkgrey { 
  color: $gray-dark;   
}

.sky-blue { color: $sky-blue; }

.grey, .gray { color: $gray-medium }

.serif { font-family: Baskerville, serif; }

.sans-serif { font-family: "Montserrat", Helvetica, sans-serif; }


/* Weight
  ========================================================================== */

.medium { font-weight: 600; }
.light { font-weight: 400; }
.lightest { font-weight: 100; }

/* Headings
   ========================================================================== */

h1,.h1 {      
  font-size: $font-size-1;
  color: $near-black;
  margin: 0;               
}

h2,.h2 {      
  font-size: $font-size-2;
  color: $near-black; 
  margin: 0;               
}

h3,.h3 {      
  font-size: $font-size-3;
  color: $near-black; 
  margin: 0;
}

h4,.h4 {      
  font-size: $font-size-4;
  color: $near-black; 
  margin: 0;
}

h5,.h5 {      
  font-size: $font-size-5; 
  color: $near-black;
  margin: 0;
}

h6,.h6 {      
  font-size: $font-size-6; 
  color: $near-black;
}


/* Sizes
   ========================================================================== */

.meta {       font-size: $font-size-6; }

blockquote {  font-size: $font-size-2; }

.text {   font-size: $font-size-5; }

.sz18 { font-size: $font-size-18; }

.sz24 { font-size: $font-size-4; }

@include break(medium) {

  h1,.h1 {      
    font-size: $font-size-1a;               
  }

  h2,.h2 {      
    font-size: $font-size-2a;
               
  }

  h3,.h3 {      
    font-size: $font-size-3a;

  }

  h4,.h4 {      
    font-size: $font-size-4a;

  }

  h5,.h5 {      
    font-size: $font-size-5a; 
  }

  h6,.h6 {      
    font-size: $font-size-6a;     
  }

  .text {   font-size: $font-size-5a; }

  .sz18 { font-size: $font-size-18a; }

  .sz24 { font-size: $font-size-4a; }

}
