/* ==========================================================================
   TYPE
   - Copy
   - Headings
   ========================================================================== */

/* Copy
   ========================================================================== */
body {color: #2b2b2b; }
.sub-title {   font-size: $font-size-18; }

p {           
  font-size: $font-size-5;
  color: $near-black;  
 }

.dkgray, .dkgrey { 
  color: $gray-dark;   
}

.nb { color: $near-black; }

.sky-blue { color: $sky-blue; }

.grey, .gray { color: $gray-medium }

.serif { font-family: Baskerville, serif; }

.sans-serif { font-family: "Raleway", Helvetica, sans-serif; }


/* Weight
  ========================================================================== */

.medium { font-weight: 600; }
.light { font-weight: 400; }
.lightest { font-weight: 100; }

/* Headings
   ========================================================================== */

h1,.h1 {      
  font-size: $font-size-1;
  color: $near-black;
  margin: 0;               
}

h2,.h2 {      
  font-size: $font-size-2;
  color: $near-black; 
  margin: 0;               
}

h3,.h3 {      
  font-size: $font-size-3;
  color: $near-black; 
  margin: 0;
}

h4,.h4 {      
  font-size: $font-size-4;
  color: $near-black; 
  margin: 0;
}

h5,.h5 {      
  font-size: $font-size-5; 
  color: $near-black;
  margin: 0;
}

h6,.h6 {      
  font-size: $font-size-6; 
  color: $near-black;
}


/* Sizes
   ========================================================================== */

.meta {       font-size: $font-size-6; }

blockquote {  font-size: $font-size-2; }

.text {   font-size: $font-size-5; }

.sz18 { font-size: $font-size-18; }

.sz24 { font-size: $font-size-4; }


/* Fonts
   ========================================================================== */

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}



/* Not-small (anything bigger than your first breakpoint) */

@include break(not-small) {



}

/* Medium - only targets 1st breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(medium) {
  .text {   font-size: $font-size-5a; }

  h1,.h1 {      
    font-size: $font-size-1a;               
  }

  h2,.h2 {      
    font-size: $font-size-2a;
               
  }

  h3,.h3 {      
    font-size: $font-size-3a;

  }

  h4,.h4 {      
    font-size: $font-size-4a;

  }

  h5,.h5 {      
    font-size: $font-size-5a; 
  }

  h6,.h6 {      
    font-size: $font-size-6a;     
  }

  .sz18 { font-size: $font-size-18a; }

  .sz24 { font-size: $font-size-4a; }
}


/* Large - only targets 2nd breakpoint. Styles do not extend below 64em.
   ========================================================================== */

@include break(large) {
  .mo-wrap {
    width: 66%;
    margin: 0 auto;
  }

  .text {   font-size: $font-size-5b; }


  h3,.h3 {      
    font-size: $font-size-3b;

  }

  h4,.h4 {      
    font-size: $font-size-4b;

  }

  h5,.h5 {      
    font-size: $font-size-5b; 
  }

  .sz18 { font-size: $font-size-18b; }

  .sz24 { font-size: $font-size-4b; }

}
