/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$near-black:  #111;
$white: #fff;

/* Gray scale */

$gray-dark:   #222;
$gray-medium: #999;
$gray-light:  #eee;

/* Blue */
$sky-blue: rgb(100,185,255);

/* Type Scale
   ========================================================================== */

/**
 * 12 & 16 as roots then powers of two.
 */

$font-size-1:64px;
$font-size-1a:64px;

$font-size-2:48px;
$font-size-2a:48px;

$font-size-3:32px;
$font-size-3a:36px;

$font-size-4:24px;
$font-size-4a:27px;

$font-size-18:18px;
$font-size-18a:21px;

$font-size-5:16px;
$font-size-5a:18px;

$font-size-6:12px;
$font-size-6a:12px;


/* Medium */
$breakpoint-1-max-width:48em;

/* Large */
$breakpoint-2-min-width:48em;
$breakpoint-2-max-width:64em;

